## Imports

In [8]:
import pandas as pd
from utils import check_uniqueness

## Analyzing table

In [9]:
order_rows_file_path = "../data/OrderRows.parquet"
df = pd.read_parquet(order_rows_file_path, engine="pyarrow")
df.head()

   OrderKey  LineNumber  ProductKey  Quantity  UnitPrice  NetPrice  UnitCost
0    139000           0         153         2    375.976   375.976   172.896
1    139000           1        1621         8      7.794     7.794     3.972
2    139001           0         279         3    239.200   227.240   121.952
3    139001           1        1806         1     22.400    22.400    11.417
4    139002           0         125         2    114.720   103.248    58.488

## Size of the dataframe

In [10]:
df.shape

(223974, 7)

## Columns of the table

In [11]:
df.columns.tolist()

['OrderKey',
 'LineNumber',
 'ProductKey',
 'Quantity',
 'UnitPrice',
 'NetPrice',
 'UnitCost']

## Overview of the table

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223974 entries, 0 to 223973
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   OrderKey    223974 non-null  int64
 1   LineNumber  223974 non-null  int64
 2   ProductKey  223974 non-null  int64
 3   Quantity    223974 non-null  int64
 4   UnitPrice   223974 non-null  float64
 5   NetPrice    223974 non-null  float64
 6   UnitCost    223974 non-null  float64
dtypes: float64(3), int64(4)
memory usage: 12.0 MB

## Percentage of null values per column

In [13]:
df.isnull().mean().round(4) * 100

OrderKey      0.0
LineNumber    0.0
ProductKey    0.0
Quantity      0.0
UnitPrice     0.0
NetPrice      0.0
UnitCost      0.0
dtype: float64

## Checking duplicate values

In [14]:
df.duplicated().sum()

0

## Checking column uniqueness

In [15]:
check_uniqueness(df)

OrderKey: Not unique
LineNumber: Not unique
ProductKey: Not unique
Quantity: Not unique
UnitPrice: Not unique
NetPrice: Not unique
UnitCost: Not unique

## Logically, the combination of OrderKey and LineNumber should serve as the primary key, since each order row represents a specific product within an order.

In [16]:
is_unique_combination = df.duplicated(subset=['OrderKey', 'LineNumber']).any()

if not is_unique_combination:
    print("The combination of OrderKey and LineNumber is unique and can be used as a primary key.")
else:
    print("There are duplicates in the combination of OrderKey and LineNumber, so it cannot be a primary key.")

The combination of OrderKey and LineNumber is unique and can be used as a primary key.

# After analyzing the table, it is evident that the combination of OrderKey and LineNumber serve as the primary key, uniquely identifying each order row. Additionally, OrderKey and ProductKey are foreign keys, linking each order to the corresponding Order in the Order table and the corresponding product in the Product table, respectively

## OrderRows Table Column Descriptions

| Column Name  | Data Type | Meaning / Description                           | Notes / Example Values        |
|--------------|-----------|-------------------------------------------------|-------------------------------|
| **OrderKey** | bigint    | Identifier of the order this row belongs to     | FK → Orders.OrderKey          |
| **LineNumber** | int     | Line number within the order (1, 2, 3…)         | Part of Primary Key           |
| **ProductKey** | int     | Identifier of the purchased product             | FK → Product.ProductKey       |
| **Quantity** | int       | Number of units purchased for this line         | e.g., 1, 3, 10                 |
| **UnitPrice** | money    | Price per unit at time of sale                  | e.g., 19.99                   |
| **NetPrice** | money     | Total price for the line                        | e.g., 49.99               |
| **UnitCost** | money     | Cost to the company for one unit of the product | e.g., 12.50                   |