## Imports

In [1]:
from dotenv import load_dotenv
load_dotenv()
import os
from utils import read_table
from utils import check_uniqueness

## Analyzing table

In [2]:
table_name = os.getenv("SQL_ORDERS")
df = read_table(table_name)
df.head()

   OrderKey  CustomerKey  StoreKey   OrderDate DeliveryDate CurrencyCode
0    139000      1293529       430  2016-05-18   2016-05-18          USD
1    139001       915563       410  2016-05-18   2016-05-18          GBP
2    139002      1133937       410  2016-05-18   2016-05-18          GBP
3    139003      1709426       670  2016-05-18   2016-05-18          USD
4    139004      1307908       610  2016-05-18   2016-05-18          USD

## Size of the dataframe

In [3]:
df.shape

(93470, 6)

## Columns of the table

In [4]:
df.columns.tolist()

['OrderKey',
 'CustomerKey',
 'StoreKey',
 'OrderDate',
 'DeliveryDate',
 'CurrencyCode']

## Overview of the table

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93470 entries, 0 to 93469
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OrderKey      93470 non-null  int64
 1   CustomerKey   93470 non-null  int64
 2   StoreKey      93470 non-null  int64
 3   OrderDate     93470 non-null  object
 4   DeliveryDate  93470 non-null  object
 5   CurrencyCode  93470 non-null  object
dtypes: int64(3), object(3)
memory usage: 4.3+ MB

## Percentage of null values per column

In [6]:
df.isnull().mean().round(4) * 100

OrderKey        0.0
CustomerKey     0.0
StoreKey        0.0
OrderDate       0.0
DeliveryDate    0.0
CurrencyCode    0.0
dtype: float64

## Checking duplicate values

In [8]:
df.duplicated().sum()

0

## Checking column uniqueness

In [9]:
check_uniqueness(df)

OrderKey: Unique
CustomerKey: Not unique
StoreKey: Not unique
OrderDate: Not unique
DeliveryDate: Not unique
CurrencyCode: Not unique

# After analyzing the table, it is evident that OrderKey serves as the primary key, uniquely identifying each order. Additionally, CustomerKey and StoreKey are foreign keys, linking each order to the corresponding customer in the Customers table and the corresponding store in the Store table, respectively