## Imports

In [1]:
from dotenv import load_dotenv
load_dotenv()
import os
from utils import read_table
from utils import check_uniqueness

## Analyzing table

In [2]:
table_name = os.getenv("SQL_CUSTOMER")
df = read_table(table_name)
df.head()

,CustomerKey,GeoAreaKey,StartDT,EndDT,Continent,Gender,Title,GivenName,MiddleInitial,Surname,...,ZipCode,Country,CountryFull,Birthday,Age,Occupation,Company,Vehicle,Latitude,Longitude
0,15,4,1990-09-10,2034-07-29,Australia,male,Mr.,Julian,A,McGuigan,...,4357,AU,Australia,1965-03-24,55,Border Patrol agent,Cut Rite Lawn Care,2000 Peugeot Kart Up,-27.831694,151.166686
1,180,7,1987-11-26,2026-10-14,Australia,male,Mr.,Gabriel,P,Bosanquet,...,3505,AU,Australia,1955-04-24,65,Administrative support specialist,Dubrow's Cafeteria,1995 Morgan Plus 4,-34.127446,142.144448
2,185,2,1990-08-01,2029-05-28,Australia,female,Mrs.,Gabrielle,B,Castella,...,2469,AU,Australia,1980-02-23,40,Management dietitian,d.e.m.o.,1997 Alpina B6,-29.012860,152.839170
3,311,7,1989-09-13,2026-08-13,Australia,female,Mrs.,Milla,H,Niland,...,3525,AU,Australia,1955-11-28,65,Housekeeper,Multicerv,1992 Lexus LS,-36.255802,143.479822
4,385,5,2004-11-22,2034-12-17,Australia,female,Ms.,Katie,Z,Oberg,...,5235,AU,Australia,1997-05-27,23,Athletic director,Kiddie City,1996 Chevrolet Monte Carlo,-34.803270,139.014259

## Size of the dataframe

In [3]:
df.shape

(52189, 24)

## Columns of the table

In [4]:
df.columns.tolist()

['CustomerKey',
 'GeoAreaKey',
 'StartDT',
 'EndDT',
 'Continent',
 'Gender',
 'Title',
 'GivenName',
 'MiddleInitial',
 'Surname',
 'StreetAddress',
 'City',
 'State',
 'StateFull',
 'ZipCode',
 'Country',
 'CountryFull',
 'Birthday',
 'Age',
 'Occupation',
 'Company',
 'Vehicle',
 'Latitude',
 'Longitude']

## Overview of the table

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52189 entries, 0 to 52188
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CustomerKey    52189 non-null  int64
 1   GeoAreaKey     52189 non-null  int64
 2   StartDT        52189 non-null  object
 3   EndDT          52189 non-null  object
 4   Continent      52189 non-null  object
 5   Gender         52189 non-null  object
 6   Title          52189 non-null  object
 7   GivenName      52189 non-null  object
 8   MiddleInitial  52189 non-null  object
 9   Surname        52189 non-null  object
 10  StreetAddress  52189 non-null  object
 11  City           52189 non-null  object
 12  State          52189 non-null  object
 13  StateFull      52189 non-null  object
 14  ZipCode        52189 non-null  object
 15  Country        52189 non-null  object
 16  CountryFull    52189 non-null  object
 17  Birthday       52189 non-null  object
 18  Age            52189 non-null  int64
 19  Occupation     52189 non-null  object
 20  Company        52141 non-null  object
 21  Vehicle        52189 non-null  object
 22  Latitude       52189 non-null  float64
 23  Longitude      52189 non-null  float64
dtypes: float64(2), int64(3), object(19)
memory usage: 9.6+ MB

## Percentage of null values per column

In [6]:
df.isnull().mean().round(4) * 100

CustomerKey      0.00
GeoAreaKey       0.00
StartDT          0.00
EndDT            0.00
Continent        0.00
Gender           0.00
Title            0.00
GivenName        0.00
MiddleInitial    0.00
Surname          0.00
StreetAddress    0.00
City             0.00
State            0.00
StateFull        0.00
ZipCode          0.00
Country          0.00
CountryFull      0.00
Birthday         0.00
Age              0.00
Occupation       0.00
Company          0.09
Vehicle          0.00
Latitude         0.00
Longitude        0.00
dtype: float64

## Checking duplicate values

In [7]:
df.duplicated().sum()

0

## Checking column uniqueness

In [8]:
check_uniqueness(df)

CustomerKey: Unique
GeoAreaKey: Not unique
StartDT: Not unique
EndDT: Not unique
Continent: Not unique
Gender: Not unique
Title: Not unique
GivenName: Not unique
MiddleInitial: Not unique
Surname: Not unique
StreetAddress: Not unique
City: Not unique
State: Not unique
StateFull: Not unique
ZipCode: Not unique
Country: Not unique
CountryFull: Not unique
Birthday: Not unique
Age: Not unique
Occupation: Not unique
Company: Not unique
Vehicle: Not unique
Latitude: Not unique
Longitude: Not unique

# After analyzing the table, it is evident that CustomerKey serves as the primary key, uniquely identifying each customer