## Imports

In [1]:
import pandas as pd
from utils import check_uniqueness

## Analyzing table

In [2]:
stores_file_path = "../data/Stores.csv"

df = pd.read_csv(stores_file_path)
df.head()

,StoreKey,StoreCode,GeoAreaKey,CountryCode,CountryName,State,OpenDate,CloseDate,Description,SquareMeters,Status
0,10,1,1,AU,Australia,Australian Capital Territory,2008-01-01,NaN,Contoso Store Australian Capital Territory,595.0,NaN
1,20,2,3,AU,Australia,Northern Territory,2008-01-12,2016-07-07,Contoso Store Northern Territory,665.0,Closed
2,30,3,5,AU,Australia,South Australia,2012-01-07,2015-08-08,Contoso Store South Australia,2000.0,Restructured
3,35,3,5,AU,Australia,South Australia,2015-12-08,NaN,Contoso Store South Australia,3000.0,NaN
4,40,4,6,AU,Australia,Tasmania,2010-01-01,NaN,Contoso Store Tasmania,2000.0,NaN

## Size of dataframe

In [3]:
df.shape

(74, 11)

## Columns of the table

In [4]:
df.columns.tolist()

['StoreKey',
 'StoreCode',
 'GeoAreaKey',
 'CountryCode',
 'CountryName',
 'State',
 'OpenDate',
 'CloseDate',
 'Description',
 'SquareMeters',
 'Status']

## Overview of the table

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   StoreKey      74 non-null     int64
 1   StoreCode     74 non-null     int64
 2   GeoAreaKey    74 non-null     int64
 3   CountryCode   74 non-null     object
 4   CountryName   74 non-null     object
 5   State         74 non-null     object
 6   OpenDate      74 non-null     object
 7   CloseDate     16 non-null     object
 8   Description   74 non-null     object
 9   SquareMeters  73 non-null     float64
 10  Status        15 non-null     object
dtypes: float64(1), int64(3), object(7)
memory usage: 6.5+ KB

## Percentage of null values per column

In [6]:
df.isnull().mean().round(4) * 100

StoreKey         0.00
StoreCode        0.00
GeoAreaKey       0.00
CountryCode      0.00
CountryName      0.00
State            0.00
OpenDate         0.00
CloseDate       78.38
Description      0.00
SquareMeters     1.35
Status          79.73
dtype: float64

## Checking duplicates

In [7]:
df.duplicated().sum()

0

## Since it is not clear, I will check the unique values of Status column to understand what it refers to

In [8]:
df['Status'].unique()

array([nan, 'Closed', 'Restructured'], dtype=object)

## By checking the unique values of the Status we can already see that if it is nan it means that the store is active. This will be treaded in the transformation process

## Now let's check the column uniqueness

In [9]:
check_uniqueness(df)

StoreKey: Unique
StoreCode: Not unique
GeoAreaKey: Not unique
CountryCode: Not unique
CountryName: Not unique
State: Not unique
OpenDate: Not unique
CloseDate: Not unique
Description: Not unique
SquareMeters: Not unique
Status: Not unique

# After analyzing the table, it is evident that StoreKey serves as the primary key, uniquely identifying each store